{% extends "base.html" %}


{% block content %}
    {% comment %} <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="success-card text-center">
                <h2>Registration Successful!</h2>
                <p>Thank you for registering. Your account has been created successfully.</p>
                <p>Please wait for admin approval before logging in.</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-back">Go to Login</a>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-6">
            <div class="card text-center mx-auto">
                <div class="card-body">
                    <h2 class="card-title">Registration Successful!</h2>
                    <p class="card-text">Thank you for registering. Your account has been created successfully.</p>
                    <p class="card-text">Please wait for admin approval before logging in.</p>
                    <a href="{% url 'login' %}" class="btn btn-success">Go to Login</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
